
/* color for sidebar */

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #808080;
}

.skin-blue .sidebar a {
    color: #fff;
	font-weight: 300;
	font-size: 18px;
}

/* color for top bar */

.skin-blue .main-header .navbar {
    background-color: #004890;
}

/* color for "logo"; area with Essential Fish Habitat text */

.skin-blue .main-header .logo {
    background-color: #004890;
    color: #fff;
    border-bottom: 0 solid transparent;
	font-weight: 400;
}

/* hover color for sidebar menu */

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
	font-weight: 300;
    background: #1890a8;
    border-left-color: #3c8dbc;
}

/* color for body background*/
/*.content-wrapper, .right-side { */
	/*background-color: #1890a8;*/

/*.tab-content {
     /*background: url('http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0509/2553/rr12in_Ocean_Blue_SF_shop_preview.png') no-repeat center center fixed;*/
        background: url('/wood-jetty-landing-stage-sea.jpg') no-repeat center center fixed;

        background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        -moz-background-size: cover; /* optional for Firefox 3.6 */ 
        -o-background-size: cover; /* for Opera 9.5 */
        margin: 0; /* to remove the default white margin of body */
        padding: 0; /* to remove the default white margin of body */
        overflow: hidden;
             } */



/* Work around CSS properties introduced on img by bootstrap */
img.leaflet-tile {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend {
    line-height: 25px;
    color: #555;
}
.legend svg text {
    fill: #555;
}
.legend svg line {
    stroke: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}




 
